<div class='input'>
  <label class='input__label' for='{{id}}'>{{label}}</label>
  <input class='input__field' type='{{type}}' value='{{value}}' id='{{id}}' name='{{id}}' autocomplete="{{autocomplete}}" />
  <p class='input__error'>{{error}}</p>
</div>
