
<label class='input__label' for='{{id}}'>{{label}}</label>
<input class='input__field' type='{{type}}' value='{{value}}' id='{{id}}' name='{{name}}' autocomplete="{{autocomplete}}" />
<p class='input__error'>{{error}}</p>

