<div class="chats-page">
    <aside class="info">
        <header class="chat-utils">
            {{{SettingsLink}}}
            {{{Search}}}
        </header>
        {{{ChatFeed}}}
    </aside>
    <main class="chat">
        {{{ChatInfoBar}}}
        <section class="chat-view">
            <p class="no-messages">
                no messages yet...
            </p>
        </section>
        {{{ SendMessageForm }}}
    </main>
</div>


